/* MAIN */
@font-face {
  font-family: "gilroy-regular";
  src: url("../_assets/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("../_assets/fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("../_assets/fonts/gilroy-semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../_assets/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700;
}
/* @use "mixin/index.scss"; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* STYLES */
.header {
  padding: 15px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__logo {
  width: 10%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .header-nav__logo {
    width: 100%;
  }
}
.header-nav__logo-img {
  width: 35px;
  height: 40px;
}
.header-nav__logo-img .img {
  width: 100%;
  height: 100%;
  display: block;
}
.header-nav__logo p {
  font-family: "gilroy-bold";
  font-size: 24px;
}
.header-nav__logo p span {
  color: #F25822;
}
.header-nav__ul {
  width: 90%;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 991px) {
  .header-nav__ul {
    display: none;
  }
}
.header-nav__ul-li {
  margin-right: 30px;
  font-family: "gilroy-medium";
  line-height: 16px;
}
.header-nav__ul-li:last-child {
  margin-right: 0;
}
.header-nav__ul-li .active {
  color: #F25822;
}
.header-content {
  padding-top: 100px;
  display: flex;
}
@media screen and (max-width: 991px) {
  .header-content {
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
  }
}
.header-content__main {
  width: 56.5%;
}
@media screen and (max-width: 991px) {
  .header-content__main {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
.header-content__main h1 {
  font-family: "gilroy-bold";
  font-size: 60px;
  line-height: 71px;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .header-content__main h1 {
    font-size: 48px;
    line-height: 120%;
  }
}
@media screen and (max-width: 480px) {
  .header-content__main h1 {
    font-size: 36px;
  }
}
.header-content__main h1 span {
  position: relative;
}
.header-content__main h1 span::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 314px;
  height: 76px;
  border-radius: 314px/76px;
  border: 1px solid #F25822;
}
@media screen and (max-width: 480px) {
  .header-content__main h1 span::after {
    width: 169px;
    height: 44px;
    border-radius: 169px/44px;
    left: 0;
  }
}
.header-content__main p {
  width: 430px;
  font-family: "gilroy-medium";
  font-size: 20px;
  line-height: 24px;
  color: #888888;
  padding-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .header-content__main p {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .header-content__main p {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .header-content__main p {
    width: 100%;
  }
}
.header-content__main-btns {
  display: flex;
}
@media screen and (max-width: 991px) {
  .header-content__main-btns {
    justify-content: center;
  }
}
.header-content__main-btns__watch {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 15px;
  font-family: "gilroy-bold";
  line-height: 18px;
  color: #aaaaaa;
}
.header-content__main-btns__watch span {
  margin-right: 15px;
}
.header-content__img {
  width: 43.5%;
}
@media screen and (max-width: 991px) {
  .header-content__img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.btn {
  font-size: 12px;
  font-family: "gilroy-semibold";
  color: white;
  border-radius: 30px;
}
.btn-orange {
  background-color: #F25822;
  padding: 10px 15px;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  transition: background-color 0.2s ease-out;
}
.btn-orange:hover {
  background-color: #f34709;
}

.section {
  padding: 100px 0;
}
@media screen and (max-width: 991px) {
  .section {
    padding: 50px 0;
  }
}
.section.section-gray {
  background-color: #fafafa;
}

.section-partner {
  padding: 70px 0;
}
@media screen and (max-width: 991px) {
  .section-partner {
    padding-bottom: 40px;
  }
}
.section-partner__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-partner__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .section-partner__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-partner__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .section-partner__item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
}

.section-about {
  position: relative;
}
.section-about__content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-about__content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.section-about__content-text {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .section-about__content-text {
    width: 100%;
  }
}
.section-about__content-text__title {
  font-size: 48px;
  font-family: "gilroy-bold";
  line-height: 120%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section-about__content-text__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section-about__content-text__title {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section-about__content-text__info {
  font-size: 18px;
  color: #888888;
  font-family: "gilroy-regular";
  line-height: 140%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section-about__content-text__info {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .section-about__content-text__info {
    font-size: 14px;
  }
}
.section-about__content-img {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .section-about__content-img {
    width: 100%;
  }
}
.section-about__content-img img {
  width: 100%;
}
.section-about__vector {
  position: relative;
}
.section-about__vector div {
  position: absolute;
  top: 0;
  left: 0;
}

.section-features__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .section-features__items {
    justify-content: center;
  }
}
.section-features__items-item {
  padding: 30px;
  width: 30%;
}
@media screen and (max-width: 991px) {
  .section-features__items-item {
    width: 55%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section-features__items-item {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .section-features__items-item {
    width: 100%;
  }
}
.section-features__items-item.active {
  transform: scale(1.1);
  box-shadow: 15px 25px 56px rgba(0, 0, 0, 0.062745098);
}
@media screen and (max-width: 991px) {
  .section-features__items-item.active {
    transform: scale(1);
  }
}
.section-features__items-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.section-features__items-item:nth-child(1) .icon {
  background-color: rgba(242, 89, 34, 0.2862745098);
}
.section-features__items-item:nth-child(2) .icon {
  background-color: rgba(19, 146, 17, 0.3568627451);
}
.section-features__items-item:nth-child(3) .icon {
  background-color: rgba(255, 200, 0, 0.3529411765);
}
.section-features__items-item__title {
  font-size: 24px;
  font-family: "gilroy-bold";
  margin-bottom: 15px;
}
.section-features__items-item__text {
  font-size: 14px;
  color: #666666;
  margin-bottom: 30px;
}
.section-features__items-item__read {
  font-family: "gilroy-semibold";
}

.section-service__header {
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  .section-service__header {
    margin-bottom: 32px;
  }
}
.section-service__header-title {
  text-align: center;
  font-family: "gilroy-bold";
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-service__header-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .section-service__header-title {
    font-size: 36px;
  }
}
.section-service__header-subtitle {
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  color: #666666;
  font-size: 16px;
  line-height: 140%;
}
.section-service__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .section-service__items {
    justify-content: center;
  }
}
.section-service__items-item {
  width: calc(33% - 15px);
  padding: 30px;
  padding-top: 0;
  padding-bottom: 45px;
  text-align: center;
  background-color: #fff;
  margin-right: 15px;
}
@media screen and (max-width: 991px) {
  .section-service__items-item {
    width: 55%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-service__items-item {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .section-service__items-item {
    width: 100%;
    padding: 15px;
    padding-bottom: 30px;
  }
}
.section-service__items-item:last-child {
  margin-right: 0;
}
.section-service__items-item.active {
  box-shadow: 15px 25px 56px rgba(0, 0, 0, 0.062745098);
}
.section-service__items-item__img {
  margin-bottom: 30px;
}
.section-service__items-item__title {
  font-size: 24px;
  font-family: "gilroy-bold";
  margin-bottom: 10px;
}
.section-service__items-item__text {
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}

.section-work__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-work__wrapper {
    flex-direction: column;
  }
}
.section-work__img {
  width: 100%;
  max-width: 862px;
}
.section-work__content {
  width: 100%;
  max-width: 653px;
}
@media screen and (max-width: 991px) {
  .section-work__content {
    max-width: 100%;
  }
}
.section-work__content.container {
  margin: 0;
}
.section-work__content-title {
  font-size: 44px;
  font-family: "gilroy-bold";
  line-height: 120%;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .section-work__content-title {
    font-size: 36px;
  }
}
.section-work__content-subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  margin-bottom: 30px;
}
.section-work__content-item {
  display: flex;
  padding: 24px;
}
.section-work__content-item.active {
  box-shadow: 15px 25px 56px rgba(0, 0, 0, 0.062745098);
}
.section-work__content-item:nth-child(1) .section-work__content-item__img {
  background-color: rgba(242, 89, 34, 0.2862745098);
}
.section-work__content-item:nth-child(2) .section-work__content-item__img {
  background-color: rgba(19, 146, 17, 0.3568627451);
}
.section-work__content-item:nth-child(3) .section-work__content-item__img {
  background-color: rgba(255, 200, 0, 0.3529411765);
}
@media screen and (max-width: 991px) {
  .section-work__content-item {
    padding: 12px;
  }
}
.section-work__content-item__img {
  width: 160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
  .section-work__content-item__img {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .section-work__content-item__img {
    width: 160px;
  }
}
.section-work__content-item__img img {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 991px) {
  .section-work__content-item__img img {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 768px) {
  .section-work__content-item__img img {
    width: 30px;
    height: 30px;
  }
}
.section-work__content-item__content-title {
  font-size: 24px;
  font-family: "gilroy-bold";
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .section-work__content-item__content-title {
    font-size: 20px;
  }
}
.section-work__content-item__content-text {
  font-size: 16px;
  color: #666666;
}

.section-funfact__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 56px 40px;
  border: 1px solid #eeeeee;
}
@media screen and (max-width: 480px) {
  .section-funfact__items {
    padding: 28px 20px;
  }
}
.section-funfact__item {
  width: 25%;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section-funfact__item {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .section-funfact__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
.section-funfact__item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 16px);
  right: 0;
  border-radius: 50%;
  background-color: #F25822;
}
@media screen and (max-width: 480px) {
  .section-funfact__item:nth-child(1)::after {
    top: 130px;
    right: calc(50% - 8px);
  }
}
.section-funfact__item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 16px);
  right: 0;
  border-radius: 50%;
  background-color: #149211;
}
@media screen and (max-width: 768px) {
  .section-funfact__item:nth-child(2)::after {
    background-color: transparent;
  }
}
@media screen and (max-width: 480px) {
  .section-funfact__item:nth-child(2)::after {
    top: 130px;
    right: calc(50% - 8px);
    background-color: #149211;
  }
}
.section-funfact__item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 16px);
  right: 0;
  border-radius: 50%;
  background-color: #FFC700;
}
@media screen and (max-width: 480px) {
  .section-funfact__item:nth-child(3)::after {
    top: 130px;
    right: calc(50% - 8px);
  }
}
.section-funfact__item-title {
  font-size: 72px;
  font-family: "gilroy-bold";
  line-height: 120%;
  color: #666666;
  margin-bottom: 10px;
}
.section-funfact__item-subtitle {
  font-size: 16px;
  font-family: "gilroy-semibold";
  line-height: 150%;
  color: #666666;
}

.section-callback__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .section-callback__wrapper {
    flex-direction: column;
  }
}
.section-callback__content {
  width: 58%;
}
@media screen and (max-width: 991px) {
  .section-callback__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
.section-callback__content-title {
  font-size: 44px;
  font-family: "gilroy-bold";
  line-height: 120%;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .section-callback__content-title {
    font-size: 36px;
  }
}
.section-callback__content-subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-callback__content-subtitle {
    text-align: center;
  }
}
.section-callback__content-form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .section-callback__content-form {
    flex-direction: column;
  }
}
.section-callback__content-form__input {
  margin-right: 30px;
  position: relative;
}
.section-callback__content-form__input::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 51px;
  background-color: #cccccc;
}
@media screen and (max-width: 768px) {
  .section-callback__content-form__input {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.section-callback__content-form .input {
  height: 51px;
  background-color: #eeeeee;
  border: none;
  font-family: inherit;
  padding: 5px 10px;
}
.section-callback__content-form .input:focus {
  outline: none;
}
.section-callback__content-form .input::placeholder {
  color: #666666;
}
.section-callback__content-form .input:nth-child(1) {
  border-radius: 30px 0 0 30px;
  position: relative;
}
.section-callback__content-form .input:nth-child(2) {
  border-radius: 0 30px 30px 0;
}
.section-callback__content-form a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-size: 16px;
}
.section-callback__img {
  width: 42%;
}
@media screen and (max-width: 991px) {
  .section-callback__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.section-plans__content {
  text-align: center;
  margin-bottom: 45px;
}
.section-plans__content-title {
  font-size: 44px;
  font-family: "gilroy-bold";
  line-height: 120%;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .section-plans__content-title {
    font-size: 36px;
  }
}
.section-plans__content-subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-plans__content-subtitle {
    text-align: center;
  }
}
.section-plans__items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .section-plans__items {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.section-plans__item {
  width: 30%;
  padding: 32px;
  padding-bottom: 48px;
  background-color: #fff;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .section-plans__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-plans__item:last-child {
    margin-bottom: 0;
  }
}
.section-plans__item.active {
  transform: scale(1.1);
}
@media screen and (max-width: 991px) {
  .section-plans__item.active {
    transform: scale(1);
  }
}
.section-plans__item.active-title {
  color: #F25822;
}
.section-plans__item.active a {
  background-color: #F25822;
  color: #fff;
}
.section-plans__item-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.section-plans__item-price {
  position: relative;
  margin-bottom: 15px;
}
.section-plans__item-price div {
  display: inline-block;
  font-size: 72px;
  font-family: "gilroy-bold";
}
.section-plans__item-price div sup {
  font-size: 24px;
}
.section-plans__item p {
  color: #666666;
  margin-bottom: 15px;
}
.section-plans__item p.section-plans__item-last {
  padding-bottom: 15px;
}
.section-plans__item a {
  background-color: rgba(242, 89, 34, 0.3333333333);
  color: #F25822;
  padding: 16px 32px;
}

html {
  font-size: 16px;
  font-family: "gilroy-regular";
}

/*# sourceMappingURL=index.css.map */
