$black: #000;
$orange: #F25822;
$gray: #666666;
$light-grey: #EEEEEE;
$light-orange: #FCD5C8;
$lime: #BDE0BC;
$green: #149211;
$light-yellow: #FFF3C9;
$yellow: #FFC700;

$colors: #f2592249, #1392115b, #ffc8005a;