@use "sass:meta";

@mixin fontRegister($font, $args...){

    @each $name, $weight in meta.keywords($args){
        @font-face {
            font-family: $font + #{$name};
            src: url("../_assets/fonts/" + $font + #{$name} + ".ttf") format("truetype");
            font-weight: $weight;
        }
    }
}

@include fontRegister(
    "gilroy-",
    $regular: 400,
    $medium: 500,
    $semibold: 600,
    $bold: 700    

)