.btn{
    font-size: 12px;
    font-family: "gilroy-semibold";
    color: white;
    border-radius: 30px;

    &-orange{
        background-color: $orange;
        padding: 10px 15px;

        box-shadow: 4px 4px 8px #F2582233;

        transition: background-color .2s ease-out;


        &:hover{
            background-color: #f34709;
        }
    }
}