.section-features {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      padding: 30px;
      width: 30%;

      &.active {
        transform: scale(1.1);
        box-shadow: 15px 25px 56px #00000010;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        border-radius: 15px;
        margin-bottom: 15px;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          .icon {
            background-color: nth($colors, $i);
          }
        }
      }

      &__title {
        font-size: 24px;
        font-family: "gilroy-bold";
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        color: $gray;
        margin-bottom: 30px;
      }

      &__read {
        font-family: "gilroy-semibold";
      }
    }
  }
}
