.header {
  padding: 15px;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 10%;
      display: flex;
      align-items: center;

      @media screen and (max-width: 991px) {
        width: 100%;
      }

      &-img {
        width: 35px;
        height: 40px;

        .img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      p {
        font-family: "gilroy-bold";
        font-size: 24px;

        span {
          color: $orange;
        }
      }
    }

    &__ul {
      width: 90%;
      display: flex;
      justify-content: end;

      @media screen and (max-width: 991px) {
        display: none;
      }

      &-li {
        margin-right: 30px;
        font-family: "gilroy-medium";
        line-height: 16px;

        &:last-child {
          margin-right: 0;
        }

        .active {
          color: $orange;
        }
      }
    }
  }

  &-content {
    padding-top: 100px;
    display: flex;

    @media screen and (max-width: 991px) {
      padding-top: 50px;
      flex-direction: column;
      justify-content: center;
    }

    &__main {
      width: 56.5%;

      @media screen and (max-width: 991px) {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
      }

      h1 {
        font-family: "gilroy-bold";
        font-size: 60px;
        line-height: 71px;
        padding-bottom: 15px;

        @media screen and (max-width: 768px) {
          font-size: 48px;
          line-height: 120%;
        }

        @media screen and (max-width: 480px) {
          font-size: 36px;
        }

        span {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: -20px;
            top: 0;
            width: 314px;
            height: 76px;
            border-radius: 314px/76px;
            border: 1px solid $orange;

            @media screen and (max-width: 480px) {
              width: 169px;
              height: 44px;
              border-radius: 169px/44px;
              left: 0;
            }
          }
        }
      }

      p {
        width: 430px;
        font-family: "gilroy-medium";
        font-size: 20px;
        line-height: 24px;
        color: #888888;

        padding-bottom: 30px;

        @media screen and (max-width: 991px) {
          margin: 0 auto;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }

      &-btns {
        display: flex;

        @media screen and (max-width: 991px) {
          justify-content: center;
        }

        &__watch {
          display: flex;
          align-items: center;
          margin-left: 30px;

          font-size: 15px;
          font-family: "gilroy-bold";
          line-height: 18px;
          color: #aaaaaa;

          span {
            margin-right: 15px;
          }
        }
      }
    }

    &__img {
      width: 43.5%;

      @media screen and (max-width: 991px) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
