.section-partner{
    padding: 70px 0;

    @media screen and (max-width: 991px) {
        padding-bottom: 40px;

    }

    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;


        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;

        }
    }

    &__item{
        @media screen and (max-width: 991px) {
            margin-right: 30px;
            margin-bottom: 30px;

            &:last-child{
                margin-right: 0;
            }

        }

        @media screen and (max-width: 480px) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-right: 0px;
        }
    }
}